.spins::after {
    position: absolute;
    content: 'Getting equipment history details from KLAS...';
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
    font-weight: bold;
}
.slds-modal__container {
    margin: 0 auto;
    width: 50%;
    max-width: 40rem;
    min-width: 20rem;
}
.slds-modal__close {
  visibility: hidden;
  right: 1.5rem;
}
.THIS .loading_wheel{
    position: fixed;
  }
  .THIS .slds-spinner_container{
    width: 100vw;
    left: min(-25vw, calc(-50vw + 20rem));
  }