.content {
    padding: 8px;
    background-color: #ffffff;
    border-radius: 0.25rem;
}

.contentDecoration {
    text-decoration: none;
}

.contentActive {
    border: 2px solid blue;
}

a {
    color: inherit;
}

img.product {
    height: 120px;
    max-width: -webkit-fill-available;
    pointer-events: none;
}

.title {
    font-weight: bold;
    text-transform: uppercase;
    height: 33px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}