.notifications {
    width: 100%;
  }
  
  @media (min-width: 768px) {
    .notifications {
      position: absolute;
      right: 1rem;
      min-width: 320px;
    }
  }
  
  .notifications .card {
    min-height: 220px;
  }

  .notification-list {
    max-height: 8.7rem;
    overflow-y: auto;
  }